body {
  font-family: Basic, sans-serif;
}

div.header {
  font-family: Actor, sans-serif;
  font-weight: bold
  text-align: center;
  vertical-align: top;
  background-color: #B7B7B7
}
#logo {
  margin-top: 1.5em;
}

div.frc {
  background-color: #009cd7;
}
p.centred {
    text-align: center;
}

span.header {
  margin-left: .5em;
  margin-right: .5em;
}
